
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Layouts/Admin.cshtml";
}
<h2>AYARLAR</h2>
@Html.ActionLink("Ad ve Soyad Değiştir","ChangeNameSurName","Admin")
<br />
<br />
@Html.ActionLink("Şifre Değiştir", "ChangePassword", "Admin")
<br />
<br />
@Html.ActionLink("Email Değiştir", "ChangeEmail", "Admin")

